<body background="https://sites.google.com/site/thxngfasifa/_/rsrc/1416917823810/home/why-the-sky-is-blue/583651-topic-ix-23.jpg">
<h4 align = 'center'>หนึ่ง สอง สาม ปลาฉลามขึ้นบก</h4>

<h2 align = 'center'>
<p >Name :{{name[0]}}</p>
<p>City : {{city[0]}}</p>
<p>hotel : {{hotel[0]}}</p>
<img src="https://2.bp.blogspot.com/-8InPNJeJLqU/WTUgpXPH6cI/AAAAAAAAf8Q/eFWRcXBqnyUbutgEVHl_MU47tnxbuNigACLcB/s1600/khaolakhotel1.jpg" width="750px"
height="460px">
<p >Name :{{name[1]}}</p>
<p>City : {{city[1]}}</p>
<p>hotel : {{hotel[1]}}</p>
<img src="https://4.bp.blogspot.com/-TySoejXUs6Y/V-kVGno6iWI/AAAAAAAAHgw/m24fmYb7Tlog3fxXgvxNbc5KtjdSh0aQQCLcB/s1600/laempromthep-1.jpg" width="750px"
height="460px"></h2>
<h3 align = 'center'>Nattawit Chotchoey </h3>
<h3 align = 'center'>58102010805</h3>
</body>